.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "AppleSDGothicNeo";
  background-color: $bannerBlue;
  height: 97px;

  .OPGG {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    margin-bottom: 2rem;

    img {
      display: block;
      cursor: pointer;
      height: 30px;
      object-fit: fill;
    }
  }

  .SearchInputContainer {
    position: absolute;
    right: 1rem;
    width: 260px;
    height: 32px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
