.Summoner {
  display: flex;
  flex-direction: column;
  width: 100%;

  main.SummonerBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-left: 2.5rem;
    margin-top: $defaultMargin;
    gap: $defaultMargin;

    .SideContent {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 300px;
      margin-left: $defaultMargin;
      gap: $defaultMargin;

      .RankGame {
        @include useDefaultBorder();

        display: flex;
        // height: 140px;
        width: 100%;
        background-color: #f2f2f2;

        .RankIconWrapper {
          flex: 4;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          object-fit: scale-down;
          
          img.RankIcon {
            height: 104px;
            width: 104px;
          }

          img.UnRanked {
            height: 54px;
            width: 54px;
          }
        }

        .RankInfo {
          flex: 6;
          display: flex;
          flex-direction: column;
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          justify-content: space-evenly;
          align-items: flex-start;
          gap: 0.2rem;

          div.GameType {
            font-size: 11px;
            color: #879292;
          }

          div.PreferredPosition {
            font-weight: bold;
            font-size: 12px;
            color: #353a3a;
          }

          div.Tier {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            color: #1f8ecd;
          }

          div.Points {
            display: flex;
            flex-direction: row;
            align-items: center;
            .LP {
              font-size: 12px;
              font-weight: bold;
              color: #555e5e;
            }

            .WL {
              font-size: 12px;
              color: #879292;
            }
          }

          div.LeagueName {
            font-size: 12px;
            color: #879292;
          }
        }
      }

      .ChampsWinRateBox {
        @include useDefaultBorder();
        border-bottom: none;
        width: 100%;

        .LRContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          height: 40px;
          width: 100%;
          gap: 1px;
          background-color: $borderGray;

          .ChampsWinRateButton {
            display: flex;
            font-size: 12px;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            &.Selected {
              background-color: #ededed;
            }

            &:not(.Selected) {
              background-color: #f2f2f2;
              border-bottom: 1px solid $borderGray;
            }
          }
        }

        .WinRateItem {
          display: flex;
          flex-direction: row;
          // justify-content: space-evenly;
          align-items: center;
          border-bottom: 1px solid $borderGray;
          height: 53px;
          gap: $defaultMargin;

          img.ChampAvatar {
            margin-left: $defaultMargin;
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }

          .TDContainer1 {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .Top1 {
              font-size: 13px;
              font-weight: bold;
              font-family: Helvetica;
              color: #5e5e5e;
            }
            .Down1 {
              font-family: Helvetica;
              font-size: 11px;
              color: #879292;
            }
          }

          .TDContainer2 {
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            .Top2 {
              font-family: Helvetica;
              font-size: 13px;
              font-weight: bold;
              color: #5e5e5e;
            }
            .Down2 {
              font-family: Helvetica;
              font-size: 11px;
              color: #879292;
            }
          }

          .TDContainer3 {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            .Top3 {
              font-family: Helvetica;
              font-size: 13px;
              font-weight: bold;
              color: #5e5e5e;
            }
            .Down3 {
              font-family: Helvetica;
              font-size: 11px;
              color: #879292;
            }
          }
        }
      }
    }

    .RealContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 350px);
      margin-bottom: $defaultMargin;

      .QueueTypes {
        @include useDefaultBorder();
        border-bottom: none;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 1rem;
        background-color: #f2f2f2;

        .QueueType {
          margin-left: $defaultMargin;
          font-size: 12px;
          color: #555555;

          &.Selected {
            color: $bannerBlue;
            padding: 7px 0px;
            border-bottom: 2px solid $bannerBlue;
          }

          cursor: pointer;
        }
      }

      .Overview {
        @include useDefaultBorder();
        width: 100%;
        height: 250px;
        margin-bottom: $defaultMargin;
      }

      .GameRecords {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: $defaultMargin;

        .GameRecord {
          @include useDefaultBorder();
          height: 98px;
        }
      }
    }
  }
}
