.SearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "AppleSDGothicNeo";
  background-color: #1ea1f7;
  height: 97px;
}

.SearchBar .SearchInputBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px;
      grid-template-columns: 1fr 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4rem;
  margin-bottom: 1rem;
  height: 32px;
  width: 260px;
  border-radius: 0.3rem;
  background-color: white;
}

.SearchBar .SearchInputBox input {
  margin-left: 1rem;
  border: none;
  outline: none;
}

.QuickLook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 170px;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid #d8d8d8;
}

.QuickLook .Seasons {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.8rem;
}

.QuickLook .Seasons .SeasonBadge {
  font-size: 11px;
  font-family: "Helvetica-Bold";
  padding: 2px 4px;
  color: #657070;
  background-color: #e0e3e3;
  border: 1px solid #d0d3d4;
  border-radius: 4px;
}

.QuickLook .QuickLookBottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.8rem;
  height: 130px;
  width: 100%;
}

.QuickLook .QuickLookBottomContainer .Avatar {
  height: 100px;
  width: 100px;
  background-color: lightcyan;
  margin-left: 0.8rem;
}

.QuickLook .QuickLookBottomContainer .BorderImage {
  position: absolute;
  left: 3px;
  top: -10px;
}

.QuickLook .QuickLookBottomContainer .UserNameAndRaderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0.8rem;
}

.QuickLook .QuickLookBottomContainer .UserNameAndRaderInfo .UserName {
  font-family: "AppleSDGothicNeo-Bold";
  font-size: 20px;
  color: #242929;
}

.QuickLook .QuickLookBottomContainer .UserNameAndRaderInfo .LadderRank {
  font-family: "AppleSDGothicNeo-Regular";
  font-size: 11px;
  color: #657070;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
  margin: 0;
  display: block;
  background-color: #eaeaea;
}

.root {
  --HSDSGlobalFontFamily: "Aktiv Grotesk", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --HSDSGlobalFontFamilyMono: "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --HSDSGlobalFontSize: 13px;
}

.Summoner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */