@import "./variables";
@import "./searchBar";
@import "./quickLook";

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
  margin: 0;
  display: block;
  background-color: $bgGray;
}

.root {
  --HSDSGlobalFontFamily: "Aktiv Grotesk", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --HSDSGlobalFontFamilyMono: "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --HSDSGlobalFontSize: 13px;
}

.Summoner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
